/* PC Media Query */


/* Mobile & Tablet Media Query <=1024px*/
@media only screen and (max-width: 64em) {
    #container .content-section {
        width: 800px;
        max-width: 100%;
        padding: 64px 0 112px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 16px;
        padding-left: 16px;
        }
    .modal-container {
        max-height: calc(100% - 20%);
        max-width: calc(100% - 20%);
    }

    header.modal-header {
        height: 60px;
    }
    .modal-footer {
        padding: 8px 20px;
    }
    #btn-ticket {
        padding: 12px;
    }
    }

/* Mobile Media Query <740px*/
@media only screen and (max-width:46.1875em){
    #header {
        overflow: hidden;
    } 
    #header .menu-btn{
        display: block;
    }
    #header .search-btn{
        display: none;   
    }
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }

    #nav .subnav{
        position: inherit;
        background-color: #333;
    }

    #nav .subnav a{
        padding: 4px 40px;
        color: #fff;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #content .mmember-list{
        width: 100%;
    }
    .mplace-list{
        width: 100%;
        margin-top: 16px;
    }
    .m-full-width,
    .m-col-full{
        width: 100%;
    }
    .contact-form{
        margin-top: 16px;
    }
    .m-mt-8{
        margin-top: 8px;
    }
    .btn{
        text-align: center;
        -webkit-appearance: none;
        appearance: none;
    }
}

/* Tablet Media Query >=740px <1024px */
@media only screen and (min-width:46.25em) and (max-width:63.9375em){
    
}