*{
    padding: 0;
    margin: 0;
    border-style: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both !important;
}
.text-white{
    color: #fff !important;
}
/* 
1. Làm từ ngoài vào trong
2. Làm từ trên xuống dưới
3. Làm từ tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (style)
*/
/* #main {

}  */

#header {
    background-color: #333;
    height: 46px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
} 

/* Begin: CSS Search Button */

#header .search-btn{
    color: #fff;
    float: right;
    font-size: 20px;
    line-height: 46px;
    padding: 0px 19px;
    cursor: pointer;
}

#header .search-btn:hover{
    background-color: #f44336;
}

/* End: CSS Search Button */

/* Begin: CSS Nav */

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}
/* Style Font Arrow Down Icon */
#nav .nav-arrow{
    font-size: 14px;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{ 
    color: #000;
    background-color: #ccc;
}

#nav> li:hover .subnav{
    display: block;
}

#nav .subnav {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    min-width: 160px;
}

#nav .subnav li {
    width: 100%;
}

#nav .subnav a {
    color: #000;
    padding: 0px 12px;
    line-height: 38px;
}
/* End: CSS Nav */


#slider {
    margin-top: 46px;
    background: url('/F8-Band/assets/img/slider/ny.jpg') top center / cover no-repeat;
    padding-top: 50%;
    position: relative;
}

#slider .text-content{
    position: relative;
    color: #fff;
    text-align: center;
    padding: 48px 0px;
}

#slider .text-heading{
    margin: 10px 0;
    font-weight: 500;
    font-size: 24px;

}

#slider .text-description{
    font-size: 15px;
}

/* #container {

} 

#content {

}  */

#container .content-section
{
    max-width: 800px;
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
}

#container .section-heading{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin: 10px 0px;
}

#container .section-subheading{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin: 15px;
}

#container .about-text{
    font-size: 15px;
    margin: 15px 0px;
    text-align: justify;
    line-height: 1.5;
}

#content .member-list{
    margin-top: 48px;
    /* overflow: hidden; */
    /* Overflow dung de khac phuc Float 
    Khi su dung Float Lop cha se khong bao quat duoc lop con */
}

#content .member-item{
    float: left;
    width: 33.3333%;
}

#content .member-name{
    font-size: 15px;
    text-align: center;
    margin: 15px 0px;
}

#content .band-img{
    width: 154px;
    border-radius: 4px;
    transform: translateX(55px);
}

/* Tour section */
.tour-section{
    background: #000;
}

.ticket-list{
    background: #fff;
    margin: 40px 0;
    list-style: none;
}

.ticket-list li{
    font-size: 15px;
    color: #757575;
    padding: 8px 16px;
    line-height: 1.5;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin: 16px;
}

.ticket-list .quantity{
    float: right;
    background-color: #000;
    color: #fff;
    margin: -1px 16px 0 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}

/* Place Section */

.place-list {
    margin: 0 -8px;
    padding-bottom: 32px;
}

.place-item {
    float: left;
    width: 31.333333%;
    padding: 0 8px;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
/* 
.place-heading{

} */

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-description{
    margin-top: 15px;
    line-height: 1.4;
}

.btn-buy-ticket{
    color: #ccc;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin: 15px 0 0;
    cursor: pointer;
}

.btn-buy-ticket:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/* #footer {

}  */

.modal{ 
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 40px);
    min-height: 200px;
    position: relative;
    animation: modelFadeIn 0.5s;
}

header.modal-header {
    display: flex;
    background-color: #009688;
    height: 130px;
    font-size: 30px;
    color: #fff;
    justify-content: center;
    align-items: center;
}

i.ti-bag.modal-header {
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    right: 0;
    font-size: 24px;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover{
    opacity: 1;
}

#modal-body {
    margin: 16px;
    display: block;
    box-sizing: inherit;
}

.modal-label{
    display: block;
    font-size: 15px;
}

.modal-input {
    display: block;
    border: 1px solid #ccc;
    width: 98%;
    padding: 8px;
    font-size: 15px;
    margin: 12px 0px 12px 0px;
}

#btn-ticket {
    padding: 20px;
    width: 100%;
    background-color: #009688;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

#btn-ticket:hover {
    padding: 20px;
    width: 100%;
    background-color: #ccc;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#btn-ticket .modal-btn{
    margin-left: 4px;
}

.modal-footer{
    text-align: right;
    padding: 10px 20px 20px 20px;
}

.modal-footer a{
    color: #2196F3;
}

@keyframes modelFadeIn{
    from{
        opacity: 0.5;
        transform: translateY(-123px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
